# 0.DataFrame Creation

** 0.1 Extract link from repository **

Given the repository "input1" which contains all the files, we build a list that contains all the files names. These latter will be useful to build our dataframe since we need the name of each City and the ID of each store.

In [88]:
mypath = 'input1/'
from os import listdir
from os.path import isfile, join
files = [f for f in listdir(mypath) if isfile(join(mypath, f))]
link = [mypath+f for f in files]
link

['input1/paris_3.txt',
 'input1/paris_1.txt',
 'input1/nice.txt',
 'input1/lyon.txt',
 'input1/toulouse.txt',
 'input1/marseilles_1.txt',
 'input1/marseilles_2.txt',
 'input1/troyes.txt',
 'input1/rennes.txt',
 'input1/paris_2.txt',
 'input1/anger.txt',
 'input1/orlean.txt',
 'input1/nantes.txt']

**0.2 Extract City and ID from link**

In this section, we made a function that takes a link to a file as input and return the correspending City and Store ID.
The store ID is the name of the city and the number of the store, if the city has only one store, we shall take City_1 as Store ID.

In [67]:
def extractCityID(link):
  # Function that compute the name of the city and its ID given the link 
  x = link.split('/')
  y = x[len(x)-1].split('.')[0] 
  z = y.split('_')
  if (len(z)>1):
    City = y.split('_')[0]
    ID = y.split('_')[1]
    return City, y
  else:
    City = y.split('_')[0]
    return City, y+'_1'

In [68]:
extractCityID(link[2])

('nice', 'nice_1')

** 0.3 Create the data Frame ** 

To create the dataframe, we proceed by creating an RDD that contains the requested Rows and then, using an sqlContext, we create our dataframe passing the RDD as input.

To do so, we start by intializing four lists. The first one

In [92]:
from pyspark.sql import Row

cityId = []
lines = []
parts = []
dataF = []
cityId.append(extractCityID(link[0]))
lines.append(sc.textFile(link[0]))
parts.append(lines[0].map(lambda l: l.split(" ")))
dataF.append(parts[0].map(lambda p: Row(ID = cityId[0][1], City = cityId[0][0], Month = p[0], Revenue = int(p[1]))))
temp = parts[0].map(lambda p: Row(ID = cityId[0][1], City = cityId[0][0], Month = p[0], Revenue = int(p[1])))

dataF[0].take(10)
for i in range(1,len(link)):
  cityId.append(extractCityID(link[i]))
  lines.append(sc.textFile(link[i])) 
  parts.append(lines[i].map(lambda l: l.split(" ")))
  dataF.append(parts[i].map(lambda p: Row(ID = cityId[i][1], City = cityId[i][0], Month = p[0], Revenue = int(p[1]))))
  temp = temp.union(dataF[i])

In [104]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

df = sqlContext.createDataFrame(temp.map(lambda x: [x[1],x[0],x[2],x[3]]), 
                                schema=['store_ID', 'City', 'Month', 'Revenue'])    
df.show()

+--------+-----+-----+-------+
|store_ID| City|Month|Revenue|
+--------+-----+-----+-------+
| paris_3|paris|  JAN|     21|
| paris_3|paris|  FEB|     36|
| paris_3|paris|  MAR|     24|
| paris_3|paris|  APR|     24|
| paris_3|paris|  MAY|     23|
| paris_3|paris|  JUN|     25|
| paris_3|paris|  JUL|     21|
| paris_3|paris|  AUG|     38|
| paris_3|paris|  SEP|     38|
| paris_3|paris|  OCT|     38|
| paris_3|paris|  NOV|     21|
| paris_3|paris|  DEC|     21|
| paris_1|paris|  JAN|     51|
| paris_1|paris|  FEB|     21|
| paris_1|paris|  MAR|     11|
| paris_1|paris|  APR|     57|
| paris_1|paris|  MAY|     55|
| paris_1|paris|  JUN|     55|
| paris_1|paris|  JUL|     61|
| paris_1|paris|  AUG|     42|
+--------+-----+-----+-------+
only showing top 20 rows

# 1.Average monthly income of the shop in France

# 2.Average monthly income of the shop in each city

# 3.Total revenue per city per year

# 4.Total revenue per store per year

# 5.The store that achieves the best performance in each month

In [45]:
a = sc.textFile('input1/anger.txt')
b = a.map(lambda line: line.split(" "))

In [47]:
b.collect()

[[u'JAN', u'13'],
 [u'FEB', u'12'],
 [u'MAR', u'14'],
 [u'APR', u'15'],
 [u'MAY', u'12'],
 [u'JUN', u'15'],
 [u'JUL', u'19'],
 [u'AUG', u'15'],
 [u'SEP', u'13'],
 [u'OCT', u'8'],
 [u'NOV', u'14'],
 [u'DEC', u'16']]